.inter-01{
	background: url('../images/trans/black.png') repeat !important;
}
.inter-02{
	background: url('../images/trans/red.png') repeat !important;
}
.inter-03{
	background: url('../images/trans/white.png') repeat !important;
}
.inter-04{
	background: url('../images/trans/black.png') repeat !important;
}